In [0]:
from pyspark.sql import Row

data = [
    Row(employee_id=1, name="Alice", salary=70000, department="HR"),
    Row(employee_id=2, name="Bob", salary=80000, department="Engineering"),
    Row(employee_id=3, name="Charlie", salary=75000, department="HR"),
    Row(employee_id=4, name="David", salary=90000, department="Engineering"),
    Row(employee_id=5, name="Eve", salary=65000, department="Finance"),
    Row(employee_id=6, name="Frank", salary=72000, department="Finance"),
    Row(employee_id=7, name="Grace", salary=85000, department="Engineering"),
    Row(employee_id=8, name="Heidi", salary=68000, department="HR"),
    Row(employee_id=9, name="Ivan", salary=95000, department="Engineering"),
    Row(employee_id=10, name="Judy", salary=70000, department="Finance")
]

df = spark.createDataFrame(data)
display(df)

### Running SQL Queries
### With Temp View

In [0]:

# Create a temporary SQL table from a DataFrame
df.createOrReplaceTempView("employees")
# Select all columns
df_sql = spark.sql("SELECT * FROM employees")

# Select specific columns
df_sql = spark.sql("SELECT name, salary FROM employees")
# Filter data
df_sql = spark.sql("SELECT * FROM employees WHERE salary > 50000")
# Aggregations
df_sql = spark.sql("SELECT department, AVG(salary) AS avg_salary FROM employees GROUP BY department")
# Sorting
df_sql = spark.sql("SELECT * FROM employees ORDER BY salary DESC")
# Using LIMIT
df_sql = spark.sql("SELECT * FROM employees LIMIT 10")
# Using CASE WHEN
df_sql = spark.sql("""
SELECT name, salary,
CASE
WHEN salary > 85000 THEN 'High'
ELSE 'Low'
END AS salary_category
FROM employees
""")
df_sql.show()

### Without Temp View

In [0]:

# Use Spark SQL with a variable and pass the dataframe
spark.sql("select * from {customers_df}",customers_df = df).show()